/* Kevin Atherton, WEB 124 JavaScript II, September 10, 2019 */

/* Code modified and adapted from https://courses.wesbos.com/account/access/5d6ec90685f96c03c1e56510/view/194130480 */

*
            {
                box-sizing: border-box;
            } /* configures universal selector for box sizing of elements */

header, main, nav, footer, figure, figcaption, aside, section, article
            {
                display: block;
            } /* configures html5 elements to work in older browsers */

a
            {
                font-size: 30px;
            }

a:link
            {
                color: yellow;
            }

a:visited
            {
                color: yellow;
            }

a:active
            {
                color: red;
            }

body
            {
                background: #193549;
                color: white;
                font-family: 'helvetica neue', sans-serif;
                font-weight: 100;
                font-size: 50px;
            }

div
            {
                text-align: center;
            }

h2
            {
                margin-bottom: 0;
            }

img
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
                width: 500px;
            }

.show
            {
                display: block;
            }

.hide
            {
                display: none;
            }

#wrapper
            {
                margin-left: auto;
                margin-right: auto;
                min-width: 500px;
                width: 80%;
            }